<a href="#" onclick="new Ajax.Request('/comments/1', {asynchronous:true, evalScripts:ture, method:'delete'}); return false;">Destroy</a>

<a href="/comments/1" data-remote="true" data-method="delete">Destroy</a>
